body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url("images/logo.jpeg") no-repeat center center fixed;
    background-size: cover;
    position: relative;
}

.banner {
    width: 100%;
    height: 50vh;      
    object-fit: cover; 
}

.header {
    background: #002d5b;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.logo-header {
    font-size: 28px;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
}

.logo {
    background-image: url("images/logo-adonai.png");
    width: 120px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-size: 18px;
    transition: 0.3s;
}

.nav-menu a:hover {
    opacity: 0.7;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    margin-top: 5px;
}

.social-media img {
    width: 70px;
    height: 70px;
}

.social-media a {
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.social-media a:hover {
    opacity: 0.8;
}

.footer {
    background-color: #002d5c; 
    color: white;
    padding: 6px;
    text-align: center;
    margin-top: auto;
}

.contact-info p {
    margin-bottom: 20px;
    margin: -10;
    font-size: 18px;
}

.insta-icon {
    width: 40px;
    height: 40px;
}

.banner {
    width: 100%;
    height: 380px;
    position: relative;
}



.services-title {
    font-size: 28px;
    font-weight: 800;
    color: #002d5b; /
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
    margin-bottom: 25px;
}


.services-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.services-list li {
    font-size: 20px;
    font-weight: 600;
    color: #000000; 
    margin-bottom: 8px;
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.6); 
}


.before-after {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}

.before-after .item {
    text-align: center;
}

.before-after img {
    width: 350px; 
    border-radius: 8px;
}

.before-after h3 {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
}



.fade-left, .fade-right {
    opacity: 0;
    transform: translateX(100px);
    transition: 0.8s ease;
}

.fade-left {
    transform: translateX(-100px);
}

.fade-visible {
    opacity: 1;
    transform: translateX(0);
}

.texto {
    padding: 40px 20px;
    text-align: center;
}