body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background: #002d5b;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-header {
    font-size: 28px;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
}

.logo {
    background-image: url("images/logo-adonai.png");
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-size: 18px;
    transition: 0.3s;
}

.nav-menu a:hover {
    opacity: 0.7;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    margin-top: 5px;
}

.social-media img {
    width: 70px;
    height: 70px;
}

.social-media a {
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.social-media a:hover {
    opacity: 0.8;
}

.footer {
    background-color: #002d5c; /* azul escuro parecido com o seu */
    color: white;
    padding: 6px;
    text-align: center;
    margin-top: auto;
}

.contact-info p {
    margin-bottom: 20px;
    margin: -10;
    font-size: 18px;
}

.insta-icon {
    width: 40px;
    height: 40px;
}